<div id='container'>
  <!-- Your html here -->
  <label for="search">Search: </label>
  <input ng-model="query" type="text" name="search"></input>
  <div ng-repeat="link in data.links | filter:query | orderBy:'-visits'" class="link">
    <img src="/assets/redirect_icon.png" />
    <div class="info">
      <div class="visits"><span class="count">{{link.visits}}</span> visits</div>
      <div class="title"> {{ link.title }} </div>
      <div class="original"> {{ link.url }} </div>
        <a ng-href="/{{link.code}}"> {{link.base_url}}/{{ link.code}}</a> 
      </div>
  </div>
</div>
